{{> header}}
  <p>Question {{num_question}}:</p>
  <img class="img-fluid" src="{{image}}">
  <form action="/check" method="get">
    {{#choice}}
    <input type="radio" name="choice" id="{{choice_id}}" value="{{choice_id}}">
    <label for="{{choice_id}}"><i>{{choice_name}}</i></label><br>
    {{/choice}}
    <div>
      <input class="btn btn-primary" type="submit" value="{{#next_question}}Question suivant{{/next_question}}{{^next_question}}Result{{/next_question}}">
    </div>
</form>

{{> footer}}