{{> header}}
  
{{> autocomplete}}
  <form class="d-flex" autocomplete="off" method="get" action="/search_user">
    <div class="autocomplete me-2">
      <input class="me-2" id="myInput" type="text" name="username" placeholder="Nom d'utilisateur">
    </div>
    <button class="btn btn-outline-success" type="submit">Chercher</button>
  </form>
  <h1>
    {{name}}
  </h1>
  <p>
    gagné: {{win}}
  </p>
  <p>
    match nul: {{draw}}
  </p>
  <p>
    perdu: {{lose}}
  </p>
  <script>
    autocomplete(document.getElementById("myInput"), [{{#users}}"{{name}}",{{/users}}]);
  </script>

{{> footer}}