{{> header}}

  <div class="row">
    <div class="col">
      <h1>{{num_found}} plants trouvées {{#page}} (page {{page}}/{{num_pages}}) {{/page}}</h1>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      {{#results}}
      <div class="col mb-3">
        <a href="/read/{{entry}}">
          <div class="card mb-4 h-100">
            <img class="card-img-top" src="{{image}}">
            <div class="card-body">
                <p class="card-text">{{name}}</p>
            </div>
          </div>
        </a>
      </div>
      {{/results}}
  </div>

  <div class="row">
    <div class="col">
      {{#previous_page}}
      <a class="btn btn-primary" href="/search?query={{query}}&page={{previous_page}}">Page précédente</a>
      {{/previous_page}}
      {{#next_page}}
      <a class="btn btn-primary" href="/search?query={{query}}&page={{next_page}}">Page suivante</a>
      {{/next_page}}
    </div>
  </div>

{{> footer}}